replicaCount: 1
protocolHttp: false
service:
  type: ClusterIP
  externalPort: 443
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    app.kubernetes.io/name: ingress-nginx
  paths:
    - /
metricsScraper:
  enabled: false
serviceAccount:
  create: true
  name: ${kubernetes_sa}